@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --green-light: hsl(148, 38%, 91%);
  --green-medium: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);
  --white: hsl(0, 0%, 100%);
  --grey: 500 (medium): hsl(186, 15%, 59%);
  --grey: 900 (darker): hsl(187, 24%, 22%)
}
