@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@layer base {
  body {
    font-family: "Karla", sans-serif;
  }
}

@theme {
  --color-custom-green-light: hsl(148 38% 91%);
  --color-custom-green-medium: hsl(169, 82%, 27%);
  --color-custom-red: hsl(0, 66%, 54%);
  --color-custom-white: hsl(0, 0%, 100%);
  --color-custom-grey-medium: hsl(186, 15%, 59%);
  --color-custom-grey-dark: hsl(187, 24%, 22%);
  --color-custom-blue:hsl(228, 45%, 44%);
}
